@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
    SEARCH LISTING
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPage = Umbraco.TypedContent(currentPageId).Children;

    //Get all the cars as strongly types objects
    var allCars = BourneCars.Helpers.CarsHelper.GetAllCars();
}
<div class="col-md-9 col-sm-12">
    <div class="car-list-wrapper clearfix">
        <div class="car-list clearfix row">
        @{ 
            if (TempData["Search"] != null)
            {
                var SearchFormModel = (BourneCars.Models.SearchFormModel)TempData["searchFormModel"];
                if (SearchFormModel.CarManufactureType != "Please Select")
                {
                    allCars = allCars.Where(c => c.Make == SearchFormModel.CarManufactureType).ToList();
                }

                if (SearchFormModel.CarModel != "All Models" && SearchFormModel.CarModel != "Please Select")
                {
                    allCars = allCars.Where(c => c.Model == SearchFormModel.CarModel).ToList();
                }

                allCars = allCars.Where(c => c.Price >= SearchFormModel.MinPrice).ToList();
                allCars = allCars.Where(c => c.Price <= SearchFormModel.MaxPrice).ToList();
                

            }
        }
            @{
                if (allCars.Count != 0)
                {
                    foreach (var carDetails in allCars)
                    {

                        <div class="col-md-4">
                            <div class="post-media entry">
                                <a href=@carDetails.Url><img src="@carDetails.Image" alt="@carDetails.Name" class="img-responsive"></a>
                            </div><!-- end post-media -->
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="car-top clearfix">
                                <div class="pull-left">
                                    <h3>
                                        <a href=@carDetails.Url>@carDetails.Name</a>
                                    </h3>
                                </div><!-- end pull-left -->
                            </div><!-- end car-top -->
                            <div class="car-details clearfix">
                                <div class="car-price">
                                    <p>£@carDetails.Price</p>
                                </div>
                            </div><!-- end details -->
                            <div class="car-details clearfix">
                                <ul class="list-inline">
                                    <li><i class="fa fa-road"></i> Mileage&nbsp; <small>@carDetails.Mileage</small></li>
                                    <li><i class="fa fa-car"></i> Fuel Type <small>@carDetails.FuelType</small></li>
                                    <li><i class="fa fa-clock-o"></i> Reg.Year <small>@carDetails.RegistrationYear</small></li>
                                    <li><i class="fa fa-gears"></i> Transmission <small>@carDetails.Transmission</small></li>
                                </ul>
                            </div><!-- end car-details -->
                            <div class="car-bottom clearfix">
                                <div class="pull-left">
                                    <a href="@carDetails.Url" class="stock">MORE INFO</a>
                                </div><!-- end pull-left -->
                            </div><!-- end car-top -->
                        </div><!-- end col -->
                    }
                }
                else
                {
                    <h4>There is no card found, please alter your search </h4>
                }
            }
        </div><!-- end car-list -->
    </div><!-- end car-list-wrapper -->
</div><!-- end col -->
