@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using BourneCars.Models
<!-- ******************************************
START FOOTER
************************************************ -->
<div class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-left">
                <p>Copyrights <small>© @DateTime.Now.Year</small> All Rights reserved by <a>Bourne Cars ltd.</a>.</p>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                <ul class="list-inline">
                    @RenderChildItems(Model)
                </ul>
            </div><!-- end col -->
            <div class="disclosure">Bourne Car Ltd are a credit broker and not a lender. We are Authorised and Regulated by the Financial Conduct Authority. FCA No: 791946 Finance is Subject to status. Other offers may be available but cannot be used in conjunction with this offer. We work with a number of carefully selected credit providers who may be able to offer you finance for your purchase.
                Registered in England & Wales: 10793980
                Registered Office: Address: 
                218 Bournemouth Road
                Poole
                BH14 9HZ</div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end copyrights -->

@helper RenderChildItems(List<NavigationListItem> listItems)
{
if (listItems != null)
{
    foreach (var item in listItems)
    {
            <li>
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
    }
}
}
