@inherits UmbracoTemplatePage
<!-- ******************************************
START HEADER
********************************************** -->
@{
    var homePage = @Umbraco.TypedContent(1086);
}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="logo-wrapper clearfix">
                    <a class="navbar-brand" href="/search/"><img src="/images/logo.png" alt="" class="img-responsive"></a>
                </div><!-- end logo -->
            </div><!-- end col -->
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="header-contact clearfix">
                    <p><i class="flaticon-pin alignleft"></i>@homePage.GetPropertyValue("addressLine1"),<br>@homePage.GetPropertyValue("addressLine2"), @homePage.GetPropertyValue("postcode")</p>
                </div>
                <div class="header-contact clearfix">
                    <p><i class="flaticon-icon-818 alignleft"></i>@homePage.GetPropertyValue("openingTimes"),<br>@homePage.GetPropertyValue("closingTime")</p>
                </div><!-- end header-contact -->
                <div class="header-contact clearfix">
                    <p><i class="flaticon-technology alignleft"></i>@homePage.GetPropertyValue("phoneNumber")<br>@homePage.GetPropertyValue("textForPhoneNumber")</p>
                </div><!-- end header-contact -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end header -->