@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
    CAR DETAILS DESCRIPTION
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPage = Umbraco.Content(currentPageId);

}

<!-- main slider carousel -->
<div class="row">
    <div class="col-md-12" id="slider">
        <div class="col-md-12" id="carousel-bounding-box">
            <div id="myCarousel" class="carousel slide">
                <!-- main slider carousel items -->
                <div class="carousel-inner">
                    @for (int i = 0; i < currentPage.imageGallery.Count; i++)
                    {
                        <div class="@(i==0 ? "active":null) item" data-slide-number="@i">
                            <img src="@(currentPage.imageGallery[i].Url)?width=817&height=440&mode=crop" alt="" class="img-responsive">
                        </div>
                    }
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
    </div>
</div>
 <!-- thumb navigation carousel -->
 
 <div class="row col-md-12" style="margin-top:10px; margin-left:0px; ">
    <ul class="list-inline" style="padding-left:20px; padding-right:20px;">
        @for (int i = 0; i
        < 4; i++) { <li class="col-md-3 col-sm-3 col-xs-4">
            <a id="carousel-selector-@i" class="@(i == 0 ? " selected ":null)">
                      <img src="@(currentPage.imageGallery[i].Url)?width=145&height=98&mode=crop" 
                            style="width:200px; padding-top:5px; padding-bottom:5px;" alt="" class="img-responsive img-rounded animated fadeInLeft">
                  </a>
            </li>
            }
    </ul>
</div>

<!-- thumbnail accordion -->
<div class="row ">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div style="min-height:75px;">
            <div class="car-table clearfix">
                <a data-toggle="collapse" class="text-muted" href="#collapse1"><strong>Additional Images</strong><i class="fa fa-angle-down pull-right"></i></a>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="row-fluid" id="slider-thumbs">
                    <!-- thumb navigation carousel items -->
                    <ul class="list-inline">
                        @for (int i = 4; i < currentPage.imageGallery.Count; i++) 
                        {   <li class="col-md-3 col-sm-3 col-xs-4">
                                <a id="carousel-selector-@i" class="@(i == 0 ? " selected ":null)">
                                    <img src="@(currentPage.imageGallery[i].Url)?width=145&height=98&mode=crop" alt="" 
                                    class="img-responsive img-rounded animated bounceInRight">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!--/main slider carousel-->
