@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
    CAR DETAILS - FEATURES
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var feature = Umbraco.TypedContent(currentPageId);

}
<div class="car-table clearfix">
    <strong>Key Features</strong>
    <i class="fa fa-angle-down"></i>
</div><!-- end car-table -->
<div class="table-responsive">
    <table class="table car-table-wrapper">
        <tbody>
            <tr>
                <td>Milage</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("milage"))</strong></td>
                <td>Owner</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("owner"))</strong></td>
            </tr>
            <tr>
                <td>Transmission</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("transmission"))</strong></td>
                <td>Fuel</td>
                <td><strong>Petrol</strong></td>
            </tr>
            <tr>
                <td>MOT</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue<DateTime>("mot").ToString("dd-MM-yyyy"))</strong></td>
                <td>Last serviced</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("lastServiced")) miles</strong></td>
            </tr>
            <tr>
                <td>Service Hitory</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("serviceHistory"))</strong></td>
                <td>Warranty</td>
                <td><strong>@Html.Raw(feature.GetPropertyValue("warranty"))</strong></td>
            </tr>
        </tbody>
    </table>
</div><!-- end table-responsive -->
<div class="car-table clearfix">
    <strong>Technical Specifications</strong>
    <i class="fa fa-angle-down"></i>
</div><!-- end car-table -->
<!-- tabs left -->
<div class="tabbable tabs-left row-fluid clearfix">
    <ul class="nav nav-tabs col-md-2 col-sm-2">
        <li class="active"><a href="#a" data-toggle="tab">Summary</a></li>
        <li><a href="#b" data-toggle="tab">Performance & economy</a></li>
        <li><a href="#c" data-toggle="tab">Dimensions</a></li>
    </ul>
    <div class="tab-content col-md-10 col-sm-10">
        <div class="tab-pane fade in active" id="a">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="car-list-wrapper-2">
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            CO2 Emission
                            <strong>@Html.Raw(feature.GetPropertyValue("cO2Emission")) g/km</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Vehicle tax band
                            <strong>@Html.Raw(feature.GetPropertyValue("vehicleTaxBand"))</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Engin size
                            <strong>@Html.Raw(feature.GetPropertyValue("enginSize")) cc</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                           Number of seats
                            <strong>@Html.Raw(feature.GetPropertyValue("numberOfSeats"))</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Tyre Size
                            <strong>@Html.Raw(feature.GetPropertyValue("tyreSize"))</strong>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end tab-pane -->
        <div class="tab-pane fade" id="b">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="car-list-wrapper-2">
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Fuel Consumption(urban)
                            <strong>@Html.Raw(feature.GetPropertyValue("fuelConsumptionUrban")) mpg</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Fuel Consumption (extra urban)
                            <strong>@Html.Raw(feature.GetPropertyValue("fuelConsumptionExtraUrban")) mpg</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Fuel Consumption (combined)
                            <strong>@Html.Raw(feature.GetPropertyValue("fuelConsumptionCombined")) mpg</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            0-60
                            <strong>@Html.Raw(feature.GetPropertyValue("zeroToSixty")) sec</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Top Speed
                            <strong>@Html.Raw(feature.GetPropertyValue("topSpeed")) mph</strong>
                        </li>
                    </ul>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12">
                    <ul class="car-list-wrapper-2">
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Engin Power
                            <strong>@Html.Raw(feature.GetPropertyValue("enginPower")) bhp</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Number of Valves
                            <strong>@Html.Raw(feature.GetPropertyValue("numberOfValves"))</strong>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end tab-pane -->
        <div class="tab-pane fade" id="c">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="car-list-wrapper-2">
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Height
                            <strong>@Html.Raw(feature.GetPropertyValue("height")) mm</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Lenght
                            <strong>@Html.Raw(feature.GetPropertyValue("length")) mm</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Width
                            <strong>@Html.Raw(feature.GetPropertyValue("width")) mm</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Fuel tank capaity
                            <strong>@Html.Raw(feature.GetPropertyValue("fuelTankCapacity")) liters</strong>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right alignleft"></i>
                            Laugage capacity
                            <strong>@Html.Raw(feature.GetPropertyValue("luggageCapacity")) liters</strong>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end tab-pane -->
    </div>
</div>
<!-- /tabs -->
<div class="car-table clearfix">
    <strong>Extra Features</strong>
    <i class="fa fa-angle-down"></i>
</div><!-- end car-table -->
<div class="row-fluid row-content clearfix">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="normallist">
            @*@{
                string tags = feature.GetPropertyValue("extraFeatures");
                foreach (var tag in tags)
                {
                    <li><i class="fa fa-check"></i> <strong>@tag</strong></li>
                }
            }*@
            <li><i class="fa fa-check"></i> <strong></strong></li>
            <li><i class="fa fa-check"></i> <strong>heat insulated inted glass</strong></li>
            <li><i class="fa fa-check"></i> <strong>Radio CD player</strong></li>
            <li><i class="fa fa-check"></i> <strong>Electric windows, Front</strong></li>
        </ul><!-- end ul -->
    </div><!-- end col -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="normallist">
            <li><i class="fa fa-check"></i> <strong>Sensor Airbags (Approved)</strong></li>
            <li><i class="fa fa-check"></i> <strong>Child Seat Anchors</strong></li>
            <li><i class="fa fa-check"></i> <strong>Anti Theft System (Alaram)</strong></li>
            <li><i class="fa fa-check"></i> <strong>Advanced Bluetooth</strong></li>
        </ul><!-- end ul -->
    </div><!-- end col -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="normallist">
            <li><i class="fa fa-check"></i> <strong>CD & DVD Players</strong></li>
            <li><i class="fa fa-check"></i> <strong>Electric Side Mirror</strong></li>
            <li><i class="fa fa-check"></i> <strong>Navigation System</strong></li>
            <li><i class="fa fa-check"></i> <strong>Rear Traffic Alert</strong></li>
        </ul><!-- end ul -->
    </div><!-- end col -->
</div><!-- end row -->                          
