@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
TEAM SECTION
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPage = Umbraco.TypedContent(currentPageId).Children;

}
<div class="section lb">
    <div class="container  aligncenter">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title clearfix text-center">
                    <h4>Our Team Members</h4>
                    <hr class="custom">
                </div><!-- end section-title -->
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            @{
                foreach (var teamMember in currentPage)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="team-box clearfix">
                            <div class="post-media entry">
                                @{
                                    var TeammeberPoto = teamMember.GetPropertyValue<IPublishedContent>("personalimage").Url;
                                    if (TeammeberPoto != null)
                                    {
                                        <img src="@TeammeberPoto" alt="@teamMember.Name" class="img-responsive">
                                    }

                                }
                                <div class="magnifier colorized">
                                    <div class="social-hover">
                                        <ul class="list-inline">
                                            @if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("phoneNumber").ToString()))
                                            {
                                                <li><a data-toggle="tooltip" data-placement="top" title="@teamMember.GetPropertyValue("phoneNumber")" href="#"><i class="fa fa-phone"></i></a></li>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("email").ToString()))
                                            {
                                                <li><a data-toggle="tooltip" data-placement="top" title="@teamMember.GetPropertyValue("email")" href="#"><i class="fa fa-envelope"></i></a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end media -->
                            <div class="team-desc text-center">
                                <h4>@Html.Raw(teamMember.GetPropertyValue("teamMemberName"))</h4>
                                <p>@Html.Raw(teamMember.GetPropertyValue("memberPosition"))</p>
                                <ul class="list-inline">
                                    @{
                                        if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("facebook").ToString()))
                                        {
                                            <li><a href="@teamMember.GetPropertyValue("facebook")" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                        }
                                        if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("twitter").ToString()))
                                        {
                                            <li><a href="@teamMember.GetPropertyValue("twitter")" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        }
                                        if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("gmail").ToString()))
                                        {
                                            <li><a href="@teamMember.GetPropertyValue("gmail")" target="_blank"><i class="fa fa-google-plus"></i></a></li>

                                        }
                                        if (!string.IsNullOrWhiteSpace(teamMember.GetPropertyValue("linkedIn").ToString()))
                                        {
                                            <li><a href="@teamMember.GetPropertyValue("linkedIn")" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                                        }
                                    }
                                </ul>
                            </div>
                        </div><!-- end clearfix -->
                    </div><!-- end col -->
                }
            }
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
