@inherits UmbracoViewPage<BourneCars.Models.ViewModels.ContactUsViewModel>
    
@using (Html.BeginUmbracoForm("ContactUsSubmitForm", "ContactUs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="section-title clearfix">
            <h5>Send Message Us</h5>
            <hr class="custom">
        </div><!-- end section-title -->

        <div class="search-tab lightversion clearfix">
            <div class="search-wrapper">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationSummary()
                    </div><!-- end col -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(m => m.Name, null, new { id = "NameTextBox", @class = "form-control", PlaceHolder = "Your Name *" })
                    </div><!-- end col -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(m => m.EmailAddress, null, new { id = "Your Email", @class = "form-control", PlaceHolder = "Your Email  *" })
                    </div><!-- end col -->
                    <div class="col-md-12 col-sm-12 col-xs-12">Contactus
                        @Html.TextBoxFor(m => m.NoneRequiredPhoneNumber, null, new { id = "YourPhonenumber", @class = "form-control", PlaceHolder = "Your Phone number" })
                    </div><!-- end col -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(m => m.Message, new { id = "Your Message", @class = "form-control", PlaceHolder = "Your message *", cols = "20", rows = "25" })
                    </div><!-- end col -->

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-block">SUBMIT NOW</button>
                    </div><!-- end col -->
                </div>
            </div>
        </div>
    </div><!-- end col -->

}
