
    
@using (Html.BeginUmbracoForm<BourneCars.Models.ContactUsModel>("SubmitForm"))
{
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="section-title clearfix">
            <h5>Send Message Us</h5>
            <hr class="custom">
        </div><!-- end section-title -->

        <div class="search-tab lightversion clearfix">
            <div class="search-wrapper">
                <form class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationSummary()
                    </div><!-- end col -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" placeholder="Your Name *">
                        @Html.TextBoxFor(m => m.Name, new { PlaceHolder = Html.DisplayNameFor(n => n.Name) })
                    </div><!-- end col -->

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="email" class="form-control" placeholder="Your Email *">
                        @Html.TextBoxFor(m => m.EmailAddress, new { PlaceHolder = Html.DisplayNameFor(n => n.EmailAddress)})
                    </div><!-- end col -->

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" placeholder="Phone Number *">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { PlaceHolder = Html.DisplayNameFor(n => n.PhoneNumber) })
                    </div><!-- end col -->

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea class="form-control" placeholder="Your Message"></textarea>
                        @Html.TextBoxFor(m => m.Message, new { PlaceHolder = Html.DisplayNameFor(n => n.Message) })
                    </div><!-- end col -->

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-block">SUBMIT NOW</button>
                    </div><!-- end col -->
                </form>
            </div>
        </div>
    </div><!-- end col -->


}
